@model IEnumerable<MertKaymaz_CET322_BOOKIE.Models.Book>

@{
    ViewData["Title"] = "Index";
}
    <div style="margin:100px">
        <h1>BOOKS</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PageCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Authors)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MinPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OfferPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PressYear)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Condition)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PageCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Authors)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MinPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OfferPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PressYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Condition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Id)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>